<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="d-flex flex-column h-100">
    <header><%- include('partials/header') %></header>
    <main>
      <div class="container">
        <h1 class="my-5">
          Administration Dashboard:
          <span class="title__welcome"
            >Welcome <%=user.firstName%> <%=user.lastName%></span
          >
        </h1>
        <div class="row rows-col-1 rows-col-md-2">
					<div class="col-10 col-md-5 col-lg-4 mx-3">
						<h3>Training tips</h3>
					<% if(tips.length > 0){ %> 
						<% for(let k = 0; k < tips.length; k++){ %> 
							<div class="col-10 col-md-5 col-lg-4">
            		<div class="card mb-3 border-success" style="width: 18rem" >
              		<div class="card-body">
										<img
                			class="card-img"
                			src="<%= tips[k].image %>"
                			alt="<%= tips[k].title %>"
              				/>
                		<h5 class="card-title">
                  		<%= tips[k].title%>
                		</h5>
                		<div class="card-text row">
                  		<p class="col-sm">Email: <%= tips[k].body %></p>
                		</div>
                		<!-- if tip has tags, render them out-->
                		<% if(tips[k].tags.length > 0){%> 
											<% for(let j = 0; j <tips[k].tags.length; j++){%>
                				<ul class="list-group">
										  	<h5>Tags:</h5>
                  				<li class="list-group-item">
                      		<%=tips[k].tags[j]%>
                  				</li>
                				</ul>
                			<%}%> 
										<%}%>
									</div>
                	<div class="card-footer"></div>
              	</div>
            	</div>
						<%}%>
					<%} else {%>
						<p>No Tips yet</p>
					<%}%>
						<h3>Add A Tip:</h3>
							<a href="/admin/addTip" class="btn btn-primary mb-3">Add</a>
					</div>

					<div class="col-10 col-md-5 col-lg-4">
						<h3>User Records:</h3>
          <% for(let i=0; i < users.length; i++){%> 
            <div class="card mb-3 border-success" style="width: 18rem" >
              <div class="card-body">
                <h5 class="card-title">
                  <%= users[i].firstName%> <%=users[i].lastName%>
                </h5>
                <div class="card-text row">
                  <p class="col-sm">Email: <%= users[i].email %></p>
                </div>
                <!-- if user has pets, render them out-->
                <% if(users[i].pets.length > 0){%> 
									<% for(let j = 0; j <users[i].pets.length; j++){%>
                		<ul class="list-group">
                  		<li class="list-group-item">
                    		Pet:
                    		<a href="/dog/<%=users[i].pets[j]._id%>">
                      	<%=users[i].pets[j].name%>
                    		</a>
                  		</li>
                		</ul>
                	<%}%> 
								<%}%>
							</div>
                <div class="card-footer"></div>
            	</div>
          <%}%> 
					</div> <!-- end row -->
        </div> <!-- end container-->
      </div>
    </main>
    <footer class="footer light-blue mt-auto py-3">
      <%- include('partials/footer') %>
    </footer>
    <%- include('partials/scripts') %>
  </body>
</html>
