<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="d-flex flex-column h-100">
    <header><%- include('partials/header') %></header>
    <main>
      <div class="container">
        <h1 class="mb-5">
          Profile Page:
          <span class="title__welcome"
            >Welcome <%=user.firstName%> <%=user.lastName%></span
          >
        </h1>

        <div class="row rows-cols-1 rows-cols-md-2 g-4">
          <% for(let i=0; i < users.length; i++){%>
          <div class="col">
            <div class="card mb-3 border-success" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">
                  <%= users[i].firstName%> <%=users[i].lastName%>
                </h5>
                <div class="card-text row">
                  <p class="col-sm">Email: <%= users[i].email %></p>
                </div>
                <% if(users[i].pets.length > 0){%> <% for(let j = 0; j <
                users[i].pets.length; j++){%>
                <div class="card-text row">
                  <p class="col-sm">Pet: <%=users[i].pets[j].name%></p>
                </div>
                <%}%> <%}%>
                <div class="card-footer"></div>
                <div class="row"></div>
              </div>
            </div>
          </div>
          <%}%>
        </div>
      </div>
    </main>
    <footer class="footer light-blue mt-auto py-3">
      <%- include('partials/footer') %>
    </footer>
    <%- include('partials/scripts') %>
  </body>
</html>
