<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="d-flex flex-column h-100">
    <header><%- include('partials/header') %></header>
    <main class="mb-3">
      <!-- Modal -->
      <div
        class="modal fade"
        id="deleteProtectionModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="deleteProtectionModalTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteProtectionModalLongTitle">
                Delete This Account
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h4>You are about to delete your Harmony Dog profile.</h4>
              <hr />
              <p>
                Make sure you want to do this because accounts cannot be
                recovered
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <form
                action="/dog/delete/<%= dog.id %>?_method=DELETE"
                method="POST"
              >
                <% if(user.privileges === 'demo') {%>
                <button type="submit" class="btn btn-danger" disabled>
                  Delete
                </button>
                <%}else{%>
                <button type="submit" class="btn btn-danger">Delete</button>
                <%}%>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- end Modal -->
      <div class="container">
        <h1 class="my-2"><%=dog.name%>'s Profile Page:</h1>
        <%if(user.privileges === 'demo'){%>
        <p class="text-warning bg-dark px-5 py-2">
          Note: You are using a demo account so some functionality is disabled.
        </p>
        <%}%>
        <div class="row mb-3">
          <div class="col-6">
            <img
              class="img-fluid"
              src="<%= dog.image %>"
              alt="<%= dog.name %>"
            />
            <section>
              <h5 class=""><%= dog.name%> <%=user.lastName%></h5>
              <p class="col-sm">Weight: <%= dog.weight %> lbs</p>
              <p class="col-sm">Age: <%= dog.age %> years</p>
              <p class="col-sm">Gender: <%= dog.gender %></p>
              <p class="col-sm">Breed: <%= dog.breed %></p>
            </section>
            <hr />
            <!-- check to see if there are any entries in dog.classes array-->
            <section>
              <%if(dog.classes.length > 0) { %>
              <p class="col-sm">Classes:</p>
              <%}else{%>
              <p>No current classes</p>
              <%}%>
            </section>
            <hr />
            <section>Notes: <%=dog.notes%></section>
            <section>
              <hr />
              <span class="badge badge-pill badge-success mt-5"
                >Good Puppy</span
              >
            </section>
            <div class="row d-flex justify-content-center mt-3">
              <a href="/profile" class="btn btn-outline-success"
                >Back to Your profile</a
              >
              <a
                href="edit/<%-dog._id%>"
                class="btn text-dark btn-outline-warning mx-2"
                >Edit Profile</a
              >
              <!-- query ?_method=DELETE added to allow methodOverride to use form to delete record -->
              <button
                type="button"
                class="btn btn-danger"
                data-toggle="modal"
                data-target="#deleteProtectionModal"
              >
                Remove Profile
              </button>
              <!-- <form
                action="/dog/delete/<%= dog.id %>?_method=DELETE"
                method="POST"
                class="col-3"
              >
                <button class="btn btn-outline-danger" type="submit">
                  Remove Profile
                </button>
              </form> -->
            </div>
          </div>

          <div class="col-4">
            <h3>Sign <%= dog.name%> up for a class</h3>
            <a href="/dog/registerDog" class="btn text-dark light-blue"
              >Classes</a
            >
          </div>
        </div>
      </div>
    </main>
    <footer class="footer light-blue mt-auto py-3">
      <%- include('partials/footer') %>
    </footer>
    <%- include('partials/scripts') %>
  </body>
</html>
