<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="d-flex flex-column h-100">
    <header><%- include('partials/header') %></header>
    <main class="mb-3">
      <div class="container">
        <h1 class="my-2"><%=dog.name%>'s Profile Page:</h1>
        <div class="row mb-3">
          <div class="col-6">
            <img
              class="img-fluid"
              src="<%= dog.image %>"
              alt="<%= dog.name %>"
            />
            <section>
              <h5 class=""><%= dog.name%> <%=user.lastName%></h5>
              <p class="col-sm">Weight: <%= dog.weight %> lbs</p>
              <p class="col-sm">Age: <%= dog.age %> years</p>
              <p class="col-sm">Gender: <%= dog.gender %></p>
              <p class="col-sm">Breed: <%= dog.breed %></p>
            </section>
            <hr />
            <!-- check to see if there are any entries in dog.classes array-->
            <section>
              <%if(dog.classes.length > 0) { %>
              <p class="col-sm">Classes:</p>
              <%}else{%>
              <p>No current classes</p>
              <%}%>
            </section>
            <hr />
            <section>Notes: <%=dog.notes%></section>
            <section>
              <hr />
              <span class="badge badge-pill badge-success mt-5"
                >Good Puppy</span
              >
            </section>
            <div class="row d-flex justify-content-center mt-3">
              <a
                href="edit/<%-dog._id%>"
                class="btn text-dark btn-outline-warning mx-2"
                >Edit Profile</a
              >
              <!-- query ?_method=DELETE added to allow methodOverride to use form to delete record -->
              <form
                action="/dog/delete/<%= dog.id %>?_method=DELETE"
                method="POST"
                class="col-3"
              >
                <button class="btn btn-outline-danger" type="submit">
                  Remove Profile
                </button>
              </form>
            </div>
          </div>

          <div class="col-4">
            <h3>Sign <%= dog.name%> up for a class</h3>
            <a href="/dog/registerDog" class="btn text-dark light-blue"
              >Classes</a
            >
          </div>
        </div>
      </div>
    </main>
    <footer class="footer light-blue mt-auto py-3">
      <%- include('partials/footer') %>
    </footer>
    <%- include('partials/scripts') %>
  </body>
</html>
