<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="d-flex flex-column h-100">
    <header><%- include('partials/header') %></header>
    <main class="container">
      <h1>Update <%=dog.name%>'s Records</h1>
<!-- adds informational banner if user is in demo account-->
      <%if(user.privileges === 'demo'){%>
      <p class="text-warning bg-dark px-5 py-2">
        Note: You are using a demo account so some functionality is disabled.
      </p>
      <%}%>
      <div class="row justify-content-center">
        <!-- query ?_method=PUT added to invoke methodOverride and allow updating from form button -->
        <form
          class="needs-validation"
          action="/dog/<%=dog._id%>?_method=PUT"
          method="POST"
        >
          <!-- add hidden form to include user.lastName in Dog schema -->
          <input type="hidden" name="lastName" value="req.user.lastName" />

          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              value="<%=dog.name%>"
              required
            />
          </div>
          <!-- conditionally pre-fill radio boxes with dog.gender from database -->
          <%if(dog.gender == 'female'){%>
          <div class="form-check">
            <p class="mb-1">Gender:</p>

            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="flexRadioDefault1"
              value="female"
              checked
            />
            <label class="form-check-label" for="flexRadioDefault1">
              Female
            </label>
          </div>
          <div class="form-check mb-3">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="flexRadioDefault2"
              value="male"
            />
            <label class="form-check-label" for="flexRadioDefault2">
              Male
            </label>
          </div>
          <%}else{%>
          <div class="form-check">
            <p class="mb-1">Gender:</p>

            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="flexRadioDefault1"
              value="female"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              Female
            </label>
          </div>
          <div class="form-check mb-3">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="flexRadioDefault2"
              value="male"
              checked
            />
            <label class="form-check-label" for="flexRadioDefault2">
              Male
            </label>
          </div>
          <%}%>
          <div class="mb-3">
            <label for="breed" class="form-label">Breed: best guess</label>
            <input
              type="text"
              class="form-control"
              id="breed"
              name="breed"
              value="<%=dog.breed%>"
              required
            />
          </div>

          <div class="mb-3">
            <label for="age" class="form-label">Age: best guess</label>
            <input
              type="text"
              class="form-control"
              id="age"
              name="age"
              value="<%=dog.age%>"
              required
            />
          </div>

          <div class="mb-3">
            <label for="weight" class="form-label"
              >Estimated Weight (in lbs.)</label
            >
            <input
              type="number"
              class="form-control"
              id="weight"
              name="weight"
              value="<%=dog.weight%>"
            />
          </div>

          <div class="mb-3">
            <h5>Notes</h5>
            <textarea id="notes" name="notes" cols="70" rows="5">
<%=dog.notes%></textarea
            >
          </div>

          <div class="mb-3">
            <!-- currently having issues with updating cloudinary file, temporary fix-->
            <h5>
              Contact support if you'd like to replace <%=dog.name%>'s picture
              with a new one.
            </h5>
          </div>
<!-- disabled the submit button if a user is in the demo account-->
          <% if(user.privileges ==='demo'){%>
          <button type="submit" class="btn btn-primary mb-3" disabled>
            Submit
          </button>
          <%}else{%>
          <button type="submit" class="btn btn-primary mb-3">Submit</button>
          <%}%>
          <a class="btn btn-danger mb-3" href="/profile">Cancel</a>
        </form>
      </div>
    </main>
    <footer class="footer light-blue mt-auto py-3">
      <%- include('partials/footer') %>
    </footer>
    <%- include('partials/scripts') %>
  </body>
</html>
