<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <header>
<%- include('partials/header') %>
			</header>
    <main class='container'>
      <h1>Harmony Dog Login</h1>
  <div>
    <section class='col-6 mt-5'>
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="card-panel red lighten-2"><%= el.msg %></div>
      <% }) %> 
<% } %> 
<% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="card-panel red lighten-2"><%= el.msg %></div>
      <% }) %> <% } %>
      <form action='/login' method='POST'>
        <div class='mb-3'>
          <label for='userEmail' class='form-label'>Email address
          </label>
          <input
            type='email'
            class='form-control'
            id='userEmail'
            aria-describedby='emailHelp'
            name='userEmail'
          />
        </div>
        <div class='mb-3'>
          <label for='password' class='form-label'>password</label>
          <input
            type='password'
            class='form-control'
            id='password'
            name='password'
          />
        </div>
        <button type='submit' class='btn btn-primary'>Submit</button>
      </form>
    </section>
  </div>
    <footer><%- include('partials/footer') %></footer>
    <%- include('partials/scripts') %>
  </body>
</html>