<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="d-flex flex-column h-100">
    <header><%- include('partials/header') %></header>
    <main>
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModalCenter"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Delete This Account
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h4>You are about to delete your Harmony Dog profile.</h4>
              <hr />
              <p>
                Make sure you want to do this because accounts cannot be
                recovered
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <form
                action="/deleteUser/<%= user._id %>?_method=DELETE"
                method="POST"
              >
                <!-- disabled delete button if user is in demo account-->
                <% if(user.privileges === 'demo') {%>
                <button type="submit" class="btn btn-danger" disabled>
                  Delete Account
                </button>
                <%}else{%>
                <button type="submit" class="btn btn-danger">
                  Delete Account
                </button>
                <%}%>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- end Modal -->
      <div class="container">
        <h1 class="my-3">
          Profile Page:
          <span class="title__welcome"
            >Welcome <%=user.firstName%> <%=user.lastName%></span
          >
        </h1>
        <%if(user.privileges === 'demo'){%>
        <p class="text-warning bg-dark px-5 py-2">
          Note: You are using a demo account so some functionality is disabled.
        </p>
        <%}%>
        <div class="row">
          <div class="col-12">
            <div class="card mb-4 border-primary">
              <div class="card-body">
                <h5 class="card-title">Account information</h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <div class="card-text">
                  <div class="row">
                    <div class="col-md-5 col-8">
                      <p>Name: <%=user.firstName%> <%=user.lastName%></p>
                      <p>Email: <%=user.email%></p>
                      <p>UserName: <%=user.userName%></p>
                    </div>
                    <div class="col-md-5 col-8">
                      <p>Street Address: <%=user.addressStreet%></p>
                      <p>City: <%=user.addressCity%></p>
                      <p>Zip Code: <%=user.addressZip%></p>
                      <p>Phone #: <%=user.phone%></p>
                    </div>
                  </div>
                </div>
                <a href="/edit/<%=user._id%>" class="btn btn-warning card-link"
                  >Edit</a
                >
                <button
                  type="button"
                  class="btn btn-danger"
                  data-toggle="modal"
                  data-target="#exampleModalCenter"
                >
                  Delete Account
                </button>
              </div>
              <div class="card-footer">
                <h5>Add a pooch!</h5>
                <% if(user.privileges === 'demo') {%>
                <a
                  href="/dog/registerDog"
                  class="btn text-dark light-blue disabled"
                >
                  Add
                </a>
                <%}else{%>
                <a href="/dog/registerDog" class="btn text-dark light-blue">
                  Add
                </a>
                <%}%>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- dynamically generate pet cards based on dogs array-->
          <% for(let i=0; i < dogs.length; i++){%>
          <div class="col-sm-12 col-md-4 mb-5">
            <div class="card border-secondary h-100">
              <img
                class="card-image-top"
                src="<%= dogs[i].image %>"
                alt="<%= dogs[i].name %>"
              />

              <div class="card-body">
                <h5 class="card-title">
                  <%= dogs[i].name%> <%=user.lastName%>
                </h5>
                <div class="card-text row">
                  <p class="col-sm">Gender: <%= dogs[i].gender %></p>
                  <p class="col-sm">Breed: <%= dogs[i].breed %></p>
                </div>
                <hr />
                <div class="row">
                  <!-- check for classes in the dog record-->
                  <%if(dogs[i].classes.length > 0) { %>
                  <p class="col-sm">Classes:</p>
                  <%}else{%>
                  <p>No current classes</p>
                  <%}%>
                </div>
                <hr />
                <div class="row">Notes: <%=dogs[i].notes%></div>
                <hr />
                <span class="badge badge-success mt-5">Good Puppy</span>
              </div>
              <div class="card-footer">
                <a
                  class="btn text-dark light-blue mt-2 mr-1"
                  href="/dog/<%-dogs[i]._id%>"
                  ><%=dogs[i].name%>'s page</a
                >
                <div class="row"></div>
              </div>
            </div>
          </div>
          <%}%>
        </div>
      </div>
    </main>
    <footer class="footer light-blue mt-auto py-3">
      <%- include('partials/footer') %>
    </footer>
    <%- include('partials/scripts') %>
  </body>
</html>
