<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="d-flex flex-column h-100">
    <header><%- include('partials/header') %></header>
    <main>
      <div class="container">
        <h1>
          Profile Page:
          <span class="title__welcome"
            >Welcome <%=user.firstName%> <%=user.lastName%></span
          >
        </h1>

        <div class="row">
          <div class="col-8">
            <div class="card-deck mb-5">
              <% for(let i=0; i < dogs.length; i++){%>

              <!-- dog profiles will go here when ready-->
              <div class="card" style="width: 18rem">
                <img
                  class="card-image-top"
                  src="<%= dogs[i].image %>"
                  alt="<%= dogs[i].name %>"
                />

                <div class="card-body">
                  <h5 class="card-title">
                    <%= dogs[i].name%> <%=user.lastName%>
                  </h5>
                  <div class="card-text row">
                    <p class="col-sm">Gender: <%= dogs[i].gender %></p>
                    <p class="col-sm">Breed: <%= dogs[i].breed %></p>
                  </div>
                  <hr />
                  <div class="row">
                    <%if(dogs[i].classes.length > 0) { %>
                    <p class="col-sm">Classes:</p>
                    <%}else{%>
                    <p>No current classes</p>
                    <%}%>
                  </div>
                  <hr />
                  <div class="row">Notes: <%=dogs[i].notes%></div>
                  <hr />
                  <span class="badge badge-success mt-5">Good Puppy</span>
                </div>
                <div class="card-footer">
                  <a
                    class="btn text-dark light-blue mt-2 mr-1"
                    href="/dog/<%-dogs[i]._id%>"
                    ><%=dogs[i].name%>'s page</a
                  >
                  <div class="row"></div>
                </div>
              </div>
              <%}%>
            </div>
          </div>
          <div class="col-2 offset-2">
            <h3>Add a pooch!</h3>
            <a href="/dog/registerDog" class="btn text-dark light-blue">Add</a>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer light-blue mt-auto py-3">
      <%- include('partials/footer') %>
    </footer>
    <%- include('partials/scripts') %>
  </body>
</html>
