<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <header><%- include('partials/header') %></header>
    <main>
      <div class="container">
        <h1>
          Profile Page:
          <span class="title__welcome"
            >Welcome <%=user.firstName%> <%=user.lastName%></span
          >
        </h1>

        <div class="row">
          <div class="card-deck">
            <% for(let i=0; i < dogs.length; i++){%>

            <!-- dog profiles will go here when ready-->
            <div class="card" style="width: 18rem">
              <img
                class="card-image-top"
                src="<%= dogs[i].image %>"
                alt="<%= dogs[i].name %>"
              />
              <div class="card-body">
                <h5 class="card-title">
                  <%= dogs[i].name%> <%=user.lastName%>
                </h5>
                <div class="card-text row">
                  <p class="col-sm">Weight: <%= dogs[i].weight %> lbs</p>
                  <p class="col-sm">Age: <%= dogs[i].age %> years</p>
                </div>
                <div class="card-text row">
                  <p class="col-sm">Gender: <%= dogs[i].gender %></p>
                  <p class="col-sm">Breed: <%= dogs[i].breed %></p>
                </div>
                <div class="card-text row">Notes: <%=dogs[i].notes%></div>
              </div>
              <div class="card-footer">
                <span class="badge badge-pill badge-success">Good Puppy</span>
                <div class="row">
                  <a
                    class="btn btn-outline-primary mt-2 mr-1"
                    href="#"
                    role="button"
                    >Edit Record</a
                  >
                  <a class="btn btn-outline-danger mt-2" href="#" role="button"
                    >Delete Record</a
                  >
                </div>
              </div>
            </div>
            <%}%>
          </div>

          <div class="col m5 offset-m2 s12">
            <h3>Add a pooch!</h3>
            <a href="/dog/registerDog" class="waves-effect waves-light btn"
              >Add</a
            >
          </div>
        </div>
      </div>
    </main>
    <footer class="footer page-footer light-blue lighten-1">
      <%- include('partials/footer') %>
    </footer>
    <%- include('partials/scripts') %>
  </body>
</html>
