<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <header><%- include('partials/header') %></header>
    <main>
      <h1>Profile Page</h1>
      <h3>Welcome <%=user.firstName%></h3>
    </main>
    <footer><%- include('partials/footer') %></footer>
    <%- include('partials/scripts') %>
  </body>
</html>
