<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <header><%- include('partials/header') %></header>
    <main class="container">
      <h1>
        Profile Page:
        <span class="title__welcome"
          >Welcome <%=user.firstName%> <%=user.lastName%></span
        >
      </h1>
      <div class="row">
        <% for(let i=0; i < dogs.length; i++){%>
        <div class="col s12 m5">
          <!-- dog profiles will go here when ready-->
          <div class="card large sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
              <img
                class="activator"
                src="<%= dogs[i].image %>"
                alt="<%= dogs[i].name %>"
              />
            </div>

            <div class="card-content">
              <span class="card-title activator"
                ><%= dogs[i].name%> <%=user.lastName%><i
                  class="material-icons right"
                  >more_vert</i
                ></span
              >
            </div>
            <div class="card-action">
              <p>
                <a class="class__link" href="#">Register for class</a>
                <a class="class__link" href="#">Current classes</a>
              </p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"
                ><%= dogs[i].name%> <%=user.lastName%><i
                  class="material-icons right"
                  >close</i
                ></span
              >
              <div class="row">
                <p>Weight: <%= dogs[i].weight %> lbs</p>
                <p>Age: <%= dogs[i].age %> years</p>
                <p>Gender: <%= dogs[i].gender %></p>
                <p>Breed: <%= dogs[i].breed %></p>
              </div>
              <p><%=dogs[i].notes%></p>
            </div>
          </div>
        </div>
        <%}%>
        <!-- <div class="col s12 m5">
          dog profiles will go here when ready
          <div class="card large sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/Abbey_face.jpg" alt="" />
            </div>

            <div class="card-content">
              <span class="card-title activator"
                >Abbey Melly<i class="material-icons right">more_vert</i></span
              >
            </div>
            <div class="card-action">
              <p>
                <a class="class__link" href="#">Register for class</a>
                <a class="class__link" href="#">Current classes</a>
              </p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"
                >Abbey Melly<i class="material-icons right">close</i></span
              >
              <p>
                Information about your doggie here... Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Aperiam, enim nulla! Mollitia
                deleniti aut facere est, dolore officiis voluptatum incidunt hic
                dicta repellendus quibusdam earum quo ex, et alias doloribus.
              </p>
            </div>
          </div>
        </div> -->
        <div class="col m5 offset-m2 s12">
          <h3>Add a pooch!</h3>
          <a href="/dog/registerDog" class="waves-effect waves-light btn"
            >Add</a
          >
        </div>
      </div>
    </main>
    <footer class="footer page-footer light-blue lighten-1">
      <%- include('partials/footer') %>
    </footer>
    <%- include('partials/scripts') %>
  </body>
</html>
