<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="d-flex flex-column h-100">
    <header><%- include('partials/header') %></header>
    <main class="container">
      <h1>New User Registration</h1>
      <section class="col-6 mt-5">
        <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => {
        %>
        <div class="card-panel red lighten-2"><%= el.msg %></div>
        <% }) %> <% } %> <% if (locals.messages.info) { %> <%
        messages.info.forEach( el => { %>
        <div class="card-panel red lighten-2"><%= el.msg %></div>
        <% }) %> <% } %>
        <form action="/register" method="POST">
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              name="firstName"
            />
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lastName"
              name="lastName"
            />
          </div>
          <div class="mb-3">
            <label for="userName" class="form-label">User Name</label>
            <input
              type="text"
              class="form-control"
              id="userName"
              name="userName"
            />
          </div>
          <div class="mb-3">
            <label for="userEmail" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="userEmail"
              aria-describedby="emailHelp"
              name="userEmail"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
            />
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label">
              Confirm Password
            </label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </section>
    </main>
    <footer class="footer light-blue mt-auto py-3">
      <%- include('partials/footer') %>
    </footer>
    <%- include('partials/scripts') %>
  </body>
</html>
